WEBAPP_PORT=3016
POSTGRES_PORT=54329
POSTGRES_DB=fixphr
POSTGRES_USER=fixphr
POSTGRES_PASSWORD=replace-with-a-strong-password
DATABASE_URL=postgresql://fixphr:replace-with-a-strong-password@localhost:54329/fixphr
AES_SECRET=replace-with-a-strong-secret



# ===== Health ID (moph.id.th) =====
HEALTH_CLIENT_ID=01970bfc-c8bc-78ea-a3d6-003f01c96c38
HEALTH_CLIENT_SECRET=6838670b83298376a8c476ace8a7d3e922158f97
HEALTH_REDIRECT_URI=https://fixphr.plkhealth.go.th/api/auth/healthid

# ===== Provider ID (provider.id.th) =====
PROVIDER_CLIENT_ID=8eeeff1f-f9ca-44d9-b117-f8125482e9e0
PROVIDER_CLIENT_SECRET=22ZGBSShZ7ZZfrqYevYp5a5JNDnC2vbV